/* font family */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common style or utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: #fff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/* top players style */
.top-players {
  margin-bottom: 30px;
}

.section-title {
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
  margin-top: 3px;
}

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/*****************************
Top blog styles 
************************/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.author-info a {
  text-decoration: none;
  color: #562eff;
  font-size: 16px;
}
